POSTGRES_DB=village
POSTGRES_PORT=5432
POSTGRES_USER=village
POSTGRES_PASSWORD=changeme

# We _could_ move this to its own .env file, but `just` (our task runner) doesn't support loading multiple .env files so we'd need to do some complex
# shenanigans to make things work even semi-ergonomically. I am making the conscious decision to defer that complexity and just have all the .env variables in this file for now
# if things get too big _then_ we can consider splitting stuff out and modifiying the just file accordingly
TEST_POSTGRES_DB=village-test
TEST_POSTGRES_PORT=5433
TEST_POSTGRES_USER=village-test
TEST_POSTGRES_PASSWORD=changeme
