# At initial container startup, the official postgres image will look for these environment variables to create a new database (POSTGRES_DB) and a new superuser (POSTGRES_USER) with the specified password (POSTGRES_PASSWORD). So long as the associated volume isn't deleted, these values/configuration will persist across container restarts. If we didn't supply these environment variables, then the postgres image would use default values such as POSTGRES_USER=postgres, POSTGRES_PASSWORD=postgres, and POSTGRES_DB=postgres
# These env names are required https://github.com/docker-library/docs/blob/master/postgres/README.md#environment-variables
POSTGRES_DB=village
POSTGRES_PORT=5432 # Except this, this is non-standard
POSTGRES_USER=village
POSTGRES_PASSWORD=password

PORT=8080 # API server port
DATABASE_CONNECTION_POOL_SIZE=3
# dotenv-hs supports variable interpolation so this is valid
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}
