POSTGRES_DB=village
POSTGRES_PORT=5432
POSTGRES_USER=village
POSTGRES_PASSWORD=changeme

PORT=8080
DATABASE_CONNECTION_POOL_SIZE=3
# dotenv-hs supports variable interpolation so this is valid
DATABASE_URL=postgresql://user${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}
